name: Deploy to live

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest changes
        uses: actions/checkout@v3

      - name: Deploy changes via ftp
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ftp.setupmytechnology.com
          username: ${{ secrets.FTP_LIVE_USERNAME }}
          password: ${{ secrets.FTP_LIVE_PASSWORD }}
          # Path relative to the FTP login root
          server-dir: public_html/wp-content/plugins/smplfy_boilerplate/
          local-dir: ./
          protocol: ftp
          exclude: |
            **/.git/**
            **/node_modules/**
            .gitignore
            README.md
            package.json
            package-lock.json